<h2>Bienvenidos a Quantum</h2>

<div class="container">
<div class="left-container">
  <!-- Contenido para el contenedor izquierdo -->
  <br>
  <br>
  <h3>Visión</h3>
  <p>Ser líderes en la transformación de empresas hacia un futuro sostenible, donde la prosperidad económica, la responsabilidad social y la conservación del medio ambiente se fusionen en armonía.</p>
  <h3>Misión</h3>
  <p>Nuestra misión es empoderar a las empresas para que sean agentes de cambio sostenible, proporcionando soluciones de vanguardia que midan, gestionen y mejoren sus indicadores de sostenibilidad. Trabajamos incansablemente para ayudar a nuestros clientes a prosperar de manera sostenible, contribuyendo al bienestar de las generaciones presentes y futuras.</p>
</div>
<div class="right-container">
  <!-- Imagen para el contenedor derecho con transparencia -->
  <img src="https://cdn.pixabay.com/photo/2020/07/08/04/12/work-5382501_1280.jpg" alt="Imagen" class="img-fluid img-transparent">

  <br>
</div>
</div>

  

  

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>